html {
    font-family: sans-serif;
}

body {

    counter-reset: section;
}

header {
    font-size: 2em;
    margin: .67em 0;
    color: #073879;
    margin: 0;
    font-size: 3em;
    padding-top: 1em;
}


h1 {
    counter-reset: subsection;
    font-size: 33px;
}

h1:before {
    margin: .67em 0;
    counter-increment: section;
    content: counter(section) ". ";
    font-weight: bold;
    font-size: 33px;
}

h2 {
    counter-reset: subsubsection;
}

h2:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

h3:before {
    counter-increment: subsubsection;
    content: counter(section) "." counter(subsection) "." counter(subsubsection) " ";
}

hr {
    box-sizing: content-box;
    height: 0;
}

body {
    max-width: 21cm;
    margin: auto;
    line-height: 1.6;
    font-weight: 300;
    font-family: Roboto, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: .04em;
}

h1,
h2 {
    color: #0082fb;
}

h2 {
    margin-top: 2em
}

h3 {
    margin-top: 2em;
    font-size: 16px;
    padding: 20px;
}

h4 {
    font-weight: 300;
    font-size: 1em;
    font-feature-settings: "tnum";
    font-variant: small-caps;
    margin: 2em 0 .5em
}

[role=contentinfo] dt {
    font-weight: 700
}

[role=contentinfo] dd {
    margin-bottom: 1em
}

.images{
    width: 1100px;
}

@media screen and (max-width:980px) {
    body {
        margin: 0 2em;
    }
}